:root {
    /* Colors */
    --decently-dark-gray: #303030;
    --nearly-white-eggshell: #fbf9f3;
}

body {
    background-color: var(--nearly-white-eggshell);
    color: var(--decently-dark-gray);
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
}

#top {
    text-align: center;
}

#top h1 {
    margin-bottom: 3%;
}

em {
    color: green;
}
